.logo { 
    width: 150px;  
    border-radius: 5px;
  } 

  /* seccion ropa */ 

  .rounded-float-end{ 
    width: 300px; 
    height: 400px;
} 
.rounded-float-start{ 
    width: 300px; 
    height: 400px;
}