.logo { 
  width: 150px;  
  border-radius: 5px;
}
.nav-link { 
    font-size: 26px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  
.rounded-float-end{ 
    width: 300px; 
    height: 400px;
} 
.rounded-float-start{ 
    width: 300px; 
    height: 400px;
}

.footer { 
    background-color: aqua; 
    position: relative;
    
}
 .entregas{ 
        margin: 60px; 
        display: grid; 
        grid-template-columns: 90%; 
        
    } 
.formulario { 
        margin: 60px auto; 
        display: grid; 
        grid-template-rows: 40%; 
        grid-template-areas: initial;  
        
        
    }
  
   
  
