.logo { 
  width: 150px;  
  border-radius: 5px;
}
.nav-link { 
    font-size: 26px; 
  
}  
 
.rounded-float-end{ 
    width: 300px; 
    height: 400px;
} 
.rounded-float-start{ 
    width: 300px; 
    height: 400px;
}

 .entregas{ 
        margin: 60px; 
        display: grid; 
        grid-template-columns: 90%; 
        
    } 
.formulario { 
        margin: 60px auto; 
        display: grid; 
        grid-template-rows: 40%; 
        grid-template-areas: initial;  
        
        
    }
    .footer{
        position: fixed;
        bottom: 0%;
        width: 100%;
        padding: 10px 0; 
        background-color:black;
         

      }
      .footer ul{
        display: flex;
        justify-content: space-between;
        
      }
      .footer a{
        text-decoration: none;
        color: white;
        font-size: 24px;
      } 
    
.section{ 
  height: 500px; 
  background-color: pink;
}  

/* animacion pagina contacto*/ 

.escena { 
 width: 500px; height: 600px;
 position: relative; 
 
} 
.escena img { 
  position:absolute
} 
 .city { 
   bottom: -3px; width: 100%;
   height: 50%; object-fit: cover;
 } 
  
 .cloud { 
   animation: clouds-move 22s 
   linear forwards; 
 }
 .cloud-1 { 
   width: 70px; top: 0; left: 30px; 
 }
.cloud-2 { 
  width: 35px; top: 20px; left: 125px;
}

@keyframes clouds-move { 
  to{ 
    transform: translateX(-25px);
  }
}