.footer{ 
    background-color: $color-principal; 
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 10px 0; 

    .ul{ 
        font-size: map-get($tamanio-tipografia, titulos); 
        display: flex; 
        @extend %flex-center
    } 

    
} 
 
